<div class="mat-elevation-z8 table-container">
  <div fxLayout="row">
    <div fxFlex="0" fxFlex.gt-sm="30"></div>
    <div fxFlex="100" fxFlex.gt-sm="40" class="action-buttons">
      <button class="add-btn" mat-button (click)="navigateToCreate()">
        <mat-icon>add</mat-icon>
        <span color="primary" class="nav-button-name">Ajouter Ticket</span>
      </button>
    </div>
    <div fxFlex="0" fxFlex.gt-sm="30"></div>
  </div>

  <ts-issues-list [displayedColumns]="displayedColumns" [issues]="issues" [loading]="loading"
    [currentUser]="currentUser"
    (refFilterChanged)="refFilterChanged($event)"
    (titleFilterChanged)="titleFilterChanged($event)"
    (contentFilterChanged)="contentFilterChanged($event)"
    (creatorFilterChanged)="creatorFilterChanged($event)"
    (show)="navigateToShow($event)"
    (update)="navigateToUpdate($event)"
    (delete)="deleteIssue($event)"></ts-issues-list>
</div>
