<div *ngIf="issue" class="mat-elevation-z3 card-container" fxLayout="row wrap" xLayoutGap="30px grid">
  <div fxHide.xs fxHide.sm fxFlex.gt-md="33%" class="list-container">
    <mat-list role="list">
      <mat-list-item role="listitem">
        <mat-icon class="icon" mat-list-icon>badge</mat-icon>
        <div mat-line>Titre</div>
        <div mat-line>{{ issue.title }}</div>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-icon class="icon" mat-list-icon>description</mat-icon>
        <div mat-line>Description</div>
        <div mat-line>{{ issue.content }}</div>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-icon class="icon" mat-list-icon>description</mat-icon>
        <div mat-line>Créé par : {{ issue.creator?.lastname }} {{ issue.creator?.firstname }} </div>
        <div mat-line>Le : {{ issue.createdAt}}</div>
      </mat-list-item>

      <mat-list-item role="listitem">
        <mat-icon class="icon" mat-list-icon>description</mat-icon>
        <div mat-line>Assigné à :</div>
        <div style="font-style: italic;" mat-line *ngIf="issue.assignees?.length! === 0">Non assigné </div>
      </mat-list-item>

      <div *ngIf="issue.assignees?.length! > 0">
        <mat-list-item role="listitem" *ngFor="let assignee of issue.assignees">
          <div mat-line> - {{ assignee?.lastname }} {{ assignee?.firstname }} </div>
        </mat-list-item>
      </div>

    </mat-list>
  </div>
  <div fxHide.xs fxHide.sm fxFlex.gt-sm="50%" fxFlex.gt-md="33%" class="list-container">

  </div>
  <mat-divider></mat-divider>
  <div fxFlex="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="33%" class="list-container">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let attachment of issue.attachments">
        <mat-icon class="icon" mat-list-icon>list</mat-icon>
        <div mat-line> <a [href]="attachmentsUrl + attachment" target="_blank">{{attachment}}</a></div>

      </mat-list-item>
    </mat-list>

  </div>
</div>
