.ts-toolbar{
  //position: fixed;
  z-index: 100;
  //height: 3.5em;
  height: 7.5vh;
}
.toolbar-title{
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 1.5em;
  margin-left:0.5em
}

.left-section,
.middle-section,
.right-section {
  width: calc(100% / 3);
}


.left-section, .title-logo{
  display: flex;
  align-items: center;

}

.middle-section {
  text-align: center;
}

.right-section {
  text-align: right;
  align-items: center;
  line-height: 100%;
}

