<mat-toolbar color="primary" class="ts-toolbar" fxLayout="row" fxLayoutAlign="space-between center">
  <section class="left-section">
    <button mat-icon-button aria-label="Ouvrir / fermer le menu" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h5>Tech Support v1.0</h5>
  </section>

  <section class="middle-section"></section>

  <section class="right-section" fxLayout="row" fxLayoutAlign="end center">
    <section class="user-infos-group" fxLayout="row" fxLayoutAlign="end center">
    </section>
  </section>
</mat-toolbar>
