<div class="filters-container">

  <div fxLayout="row wrap" fxLayoutGap="30px grid">

    <div fxFlex="100%" fxFlex.gt-xs="75%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-lg="25%">

      <mat-form-field class="filter-form-field">
        <mat-label>Ref Ticket</mat-label>
        <mat-icon matPrefix class="icon-prefix">store</mat-icon>
        <input matInput (keyup)="onRefFilterChanged(refInput.value)" placeholder="Recherche par ref" #refInput />
      </mat-form-field>
    </div>

    <div fxFlex="100%" fxFlex.gt-xs="75%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-lg="25%">
      <mat-form-field class="filter-form-field">
        <mat-label>Nom Ticket</mat-label>
        <mat-icon matPrefix class="icon-prefix">store</mat-icon>
        <input matInput (keyup)="onTitleFilterChanged(titleInput.value)" placeholder="Recherche par titre"
          #titleInput />
      </mat-form-field>
    </div>
    <div fxFlex="100%" fxFlex.gt-xs="75%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-lg="25%">
      <mat-form-field class="filter-form-field">
        <mat-label>Contenu Ticket</mat-label>
        <mat-icon matPrefix class="icon-prefix">store</mat-icon>
        <input matInput (keyup)="onContentFilterChanged(contentInput.value)" placeholder="Recherche par contenu"
          #contentInput />
      </mat-form-field>
    </div>

    <div fxFlex="100%" fxFlex.gt-xs="75%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-lg="25%">
      <mat-form-field class="filter-form-field">
        <mat-label>Créateur du ticket</mat-label>
        <mat-icon matPrefix class="icon-prefix">store</mat-icon>
        <input matInput (keyup)="onCreatorFilterChanged(creatorInput.value)" placeholder="Recherche par créateur"
          #creatorInput />
      </mat-form-field>
    </div>
  </div>
</div>
<div style="position: relative;">
  <div class="loading-shade" *ngIf="loading" [@loadingAnimation]>
    <mat-spinner *ngIf="loading"></mat-spinner>
  </div>
  <table mat-table [dataSource]="issues">

    <ng-container matColumnDef="ref">
      <th mat-header-cell *matHeaderCellDef>Ref</th>
      <td mat-cell *matCellDef="let element">{{ element.ref }}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Titre</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef>Contenu</th>
      <td mat-cell *matCellDef="let element">{{ element.content }}</td>
    </ng-container>

    <ng-container matColumnDef="attachments">
      <th mat-header-cell *matHeaderCellDef>Pièces jointes</th>
      <td mat-cell *matCellDef="let element">{{ element.attachments.length }}</td>
    </ng-container>

    <ng-container matColumnDef="assignees">
      <th mat-header-cell *matHeaderCellDef>Assignés</th>
      <td mat-cell *matCellDef="let element">{{ element.assignees.length }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="header-action">Actions</th>
      <td mat-cell *matCellDef="let element" class="column-action">
        <button mat-icon-button aria-label="Voir" (click)="onShow(element.id)" matTooltip="Voir">
          <mat-icon>visibility</mat-icon>
        </button>

        <div class="manager-actions"
          *ngIf=" currentUser?.role === UserRole.ADMIN || currentUser?.role === UserRole.MANAGER">
          <button mat-icon-button aria-label="Modifier" (click)="onUpdate(element.id)" matTooltip="Modifier">
            <mat-icon>mode_edit</mat-icon>
          </button>

          <button mat-icon-button aria-label="Supprimer" (click)="onDelete(element)" matTooltip="Supprimer">
            <mat-icon>clear</mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" [attr.colspan]="displayedColumns.length">
        Aucun ticket trouvé
      </td>
    </tr>
  </table>
</div>
