<div *ngIf="stats" class="card-container" fxLayout="row wrap" xLayoutGap="30px grid"
  fxLayoutAlign="space-around center">

  <div fxFlex.gt-xs="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="10%" class="list-container">
    <mat-card class="stat-card">
      <div class="stat-label">Total </div>
      <div class="stat-value">{{ stats.total_issues ? stats.total_issues : 0 }}</div>
    </mat-card>
  </div>

  <div fxFlex.gt-xs="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="10%" class="list-container">
    <mat-card class="stat-card">
      <div class="stat-label">Tickets ouverts </div>
      <div class="stat-value">{{ stats.opened_issues ? stats.opened_issues : 0 }}</div>
    </mat-card>
  </div>

  <div fxFlex.gt-xs="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="10%" class="list-container">
    <mat-card class="stat-card">
      <div class="stat-label">Tickets en cours </div>
      <div class="stat-value">{{ stats.in_progress_issues ? stats.in_progress_issues : 0 }}</div>
    </mat-card>
  </div>

  <div fxFlex.gt-xs="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="10%" class="list-container">
    <mat-card class="stat-card">
      <div class="stat-label">Tickets fermés </div>
      <div class="stat-value"> {{ stats.closed ? stats.closed : 0 }}</div>
    </mat-card>
  </div>

  <div fxFlex.gt-xs="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="10%" class="list-container">
    <mat-card class="stat-card">
      <div class="stat-label">Tickets non assignés </div>
      <div class="stat-value"> {{ stats.unassigned_issues ? stats.unassigned_issues : 0 }}</div>
    </mat-card>
  </div>

  <div fxFlex.gt-xs="100%" fxFlex.gt-sm="50%" fxFlex.gt-md="10%" class="list-container">
    <mat-card class="stat-card">
      <div class="stat-label">Tickets assignés </div>
      <div class="stat-value"> {{ stats.assigned_issues ? stats.assigned_issues : 0 }}</div>
    </mat-card>
  </div>

</div>
