.stat-card {
  text-align: center;
  height: 8em;
}
.stat-label,
.stat-value {
 margin-bottom: 1em;
}

.stat-label {
  font-size: 1.75em;
  height: 2.5em;
}

.stat-value {
  height: 5.5em;
  font-size: 2.5em;
}
