.ts-save-form-field,
.tf-save-btn-row {
  width: 100%;
}

.ts-save-btn-row {
  text-align: center;
}

.ts-save-btn {
  width: 10em;
}

.icon-prefix {
  font-size: 1.5em;
  margin-right: 0.5em;
  color: #5f5f5f;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-bottom: 1em;
}
.loader {
  margin: 0 auto;
}
