<form novalidate [formGroup]="saveUserForm" (ngSubmit)="submit()">

  <p>
    <mat-form-field class="ts-save-form-field">

      <mat-label>Prénom</mat-label>
      <mat-icon matPrefix class="icon-prefix">badge</mat-icon>
      <input required matInput id="firstname" type="text" formControlName="firstname" placeholder="Prénom de l'utilisateur"
        autocomplete="off" />
      <mat-error *ngIf="saveUserForm?.get('firstname')?.hasError('required')">
        Le prénom de l'utilisateur est requis
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="ts-save-form-field">
      <mat-label>Nom</mat-label>
      <mat-icon matPrefix class="icon-prefix">badge</mat-icon>
      <input required matInput id="lastname" type="text" formControlName="lastname" placeholder="Nom de l'utilisateur"
        autocomplete="off" />
      <mat-error *ngIf="saveUserForm?.get('lastname')?.hasError('required')">
        Le nom de l'utilisateur est requis
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="ts-save-form-field">
      <mat-label>Rôle</mat-label>
      <mat-icon matPrefix class="icon-prefix">badge</mat-icon>
      <mat-select required formControlName="role">
        <mat-option [value]="UserRole.DEVELOPER">{{UserRole.DEVELOPER}}</mat-option>
        <!-- <mat-option [value]="UserRole.MANAGER">{{UserRole.MANAGER}}</mat-option> -->
        <mat-option [value]="UserRole.ADMIN">{{UserRole.ADMIN}}</mat-option>
      </mat-select>
      <mat-error *ngIf="saveUserForm?.get('role')?.hasError('required')">
        Le role de l'utilisateur est requis
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="ts-save-form-field">
      <mat-label>Email</mat-label>
      <mat-icon matPrefix class="icon-prefix">badge</mat-icon>
      <input required matInput id="email" type="email" formControlName="email" placeholder="Email de l'utilisateur"
        autocomplete="off" />
      <mat-error *ngIf="saveUserForm?.get('email')?.hasError('required')">
        L'email' de l'utilisateur est requis
      </mat-error>
      <mat-error *ngIf="saveUserForm?.get('email')?.hasError('email')">
        L'email' de l'utilisateur doit être un email valide
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="ts-save-form-field">
      <mat-label>Mot de passe</mat-label>
      <mat-icon matPrefix class="icon-prefix">badge</mat-icon>
      <input required matInput id="password" type="password" formControlName="password"
        placeholder="Mot de passe de l'utilisateur" autocomplete="off" />


      <mat-error *ngIf="saveUserForm?.get('password')?.hasError('minlength')">
        Le mot de passe de l'utilisateur doit comporter au moins 8 caractères
      </mat-error>

      <mat-error *ngIf="saveUserForm?.get('password')?.hasError('required')">
        Le mot de passe de l'utilisateur est requis
      </mat-error>


      <mat-error *ngIf="saveUserForm?.get('password')?.hasError('min_uppercase')">
        Le mot de passe de l'utilisateur doit avoir au moins 2 majuscules
      </mat-error>

      <mat-error *ngIf="saveUserForm?.get('password')?.hasError('min_special_char')">
        Le mot de passe de l'utilisateur doit avoir au moins 1 caractère spécial
      </mat-error>

      <mat-error *ngIf="saveUserForm?.get('password')?.hasError('min_number')">
        Le mot de passe de l'utilisateur doit avoir au moins 2 chiffres
      </mat-error>

      <mat-error *ngIf="saveUserForm?.get('password')?.hasError('min_lowcase')">
        Le mot de passe de l'utilisateur doit avoir au moins 3 minuscules
      </mat-error>
    </mat-form-field>
  </p>

  <div class="ts-save-btn-row">
    <div class="loader-wrapper">
      <mat-spinner *ngIf="loading" diameter="20" class="loader"></mat-spinner>
    </div>

    <button class="ts-save-btn" mat-raised-button mat-button color="primary"
      [disabled]="!saveUserForm?.valid || loading">
      {{ mode == "update" ? "Modifier" : "Créer" }}
    </button>
  </div>
</form>
