<ts-toolbar [drawer]="drawer"></ts-toolbar>

<mat-drawer-container class="ts-drawer-container" hasBackdrop="false">
  <mat-drawer color="primary" class="ts-drawer-side color-primary" #drawer mode="side" [opened]="opened">

    <mat-list>
      <ng-container *ngIf="currentUser">
        <mat-list-item *ngFor="let navItem of protectedNavItems" (click)="navigate(navItem.link)">
          <button class="nav-button" mat-button>

            <span class="nav-button-name">{{ navItem.name }}</span>
          </button>
        </mat-list-item>
      </ng-container>

      <ng-container *ngIf="
        currentUser &&
        (currentUser.role == UserRole.DEVELOPER)
      ">
        <div mat-subheader style="color: white">Manager</div>
        <mat-list-item *ngFor="let navItem of developerNavItems" (click)="navigate(navItem.link)">
          <button class="nav-button" mat-button>

            <span class="nav-button-name">{{ navItem.name }}</span>
          </button>
        </mat-list-item>
      </ng-container>

      <ng-container *ngIf="
          currentUser &&
          (currentUser.role == UserRole.MANAGER)
        ">
        <div mat-subheader style="color: white">Manager</div>
        <mat-list-item *ngFor="let navItem of managerNavItems" (click)="navigate(navItem.link)">
          <button class="nav-button" mat-button>

            <span class="nav-button-name">{{ navItem.name }}</span>
          </button>
        </mat-list-item>
      </ng-container>

      <ng-container *ngIf="currentUser && currentUser.role == UserRole.ADMIN">
        <div mat-subheader style="color: white">Admin</div>
        <mat-list-item *ngFor="let navItem of adminNavItems" (click)="navigate(navItem.link)">
          <button class="nav-button" mat-button>
            <mat-icon>{{ navItem.icon }}</mat-icon>
            <span class="nav-button-name">{{ navItem.name }}</span>
          </button>
        </mat-list-item>
      </ng-container>

      <div mat-subheader style="color: white">Connexion</div>
      <mat-list-item (click)="navigateToLogin()" *ngIf="!currentUser">
        <button class="nav-button" mat-button>
          <mat-icon>login</mat-icon>
          Se connecter
        </button>
      </mat-list-item>

      <mat-list-item (click)="logout()" *ngIf="currentUser">
        <button class="nav-button" mat-button>
          <mat-icon>logout</mat-icon>
          Se déconnecter
        </button>
      </mat-list-item>
    </mat-list>


  </mat-drawer>
  <mat-drawer-content>
    <div class="page-container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
