.ts-drawer-container {
  width: 100%;
 height: 92.5vh;
}

.ts-drawer-side {
  width: 20em;
  padding-top: 1em;
  //background-color: rgb(16, 128, 255);
}

.page-container {
  padding: 7em 3em 3em 3em;
}

.nav-button{
  width: 100%;
  text-align: start;
  color: #5f5f5f
}
