<form novalidate [formGroup]="saveIssueForm" (ngSubmit)="submit()">
  <p>
    <mat-form-field class="ts-save-form-field">

      <mat-label>Titre</mat-label>
      <mat-icon matPrefix class="icon-prefix">badge</mat-icon>
      <input matInput id="title" type="text" formControlName="title" placeholder="Nom du ticket" autocomplete="off" />
      <mat-error *ngIf="saveIssueForm?.get('title')?.hasError('required')">
        Le titre du ticket est requis
      </mat-error>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field class="ts-save-form-field">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix class="icon-prefix">comment</mat-icon>
      <textarea matInput id="content" type="text" formControlName="content" placeholder="Description du ticket"
        autocomplete="off" rows="5"></textarea>
      <mat-error *ngIf="saveIssueForm?.get('content')?.hasError('required')">
        La description du ticket est requise
      </mat-error>
    </mat-form-field>
  </p>

  <div>
    <input type="file" id="files" name="files" multiple accept="image/*, application/pdf, text/plain"
      (change)="handleFiles($event)">
  </div>

  <div class="ts-save-btn-row">
    <div class="loader-wrapper">
      <mat-spinner *ngIf="loading" diameter="20" class="loader"></mat-spinner>
    </div>

    <button class="ts-save-btn" mat-raised-button mat-button color="primary"
      [disabled]="!saveIssueForm?.valid || loading">
      {{ mode == "update" ? "Modifier" : "Créer" }}
    </button>
  </div>
</form>
