<div class="mat-elevation-z8 table-container">
  <div fxLayout="row">
    <div fxFlex="0" fxFlex.gt-sm="30"></div>
    <div fxFlex="100" fxFlex.gt-sm="40" class="action-buttons">
      <button class="add-btn" mat-button (click)="navigateToCreate()">
        <mat-icon>add</mat-icon>
        <span color="primary" class="nav-button-name">Ajouter User</span>
      </button>
    </div>
    <div fxFlex="0" fxFlex.gt-sm="30"></div>
  </div>

  <ts-users-list [displayedColumns]="displayedColumns" [users]="users" [loading]="loading"
    [currentUser]="currentUser"
    (show)="navigateToShow($event)"
    (update)="navigateToUpdate($event)"
    (delete)="deleteIssue($event)"></ts-users-list>
</div>
