<div fxLayout="row" fxLayoutAlign="center center" class="login-page-container">
  <div fxFlex="100%" fxFlex.gt-xs="75%" fxFlex.gt-sm="50%" fxFlex.gt-md="40%">
    <mat-card class="create-restaurant-card">
      <ts-issue-form [loading]="loading" (save)="create($event)"></ts-issue-form>
    </mat-card>
  </div>
</div>
