.ts-login-form {
  font-size: 1.2em;
}

.ts-login-form-field,
.ts-login-btn-row {
  width: 100%;
}

.ts-login-btn-row {
  text-align: center;
}

.ts-login-btn {
  width: 10em;
}

.loader-wrap {
  height: 4.1em;
  text-align: center;
}

.loader {
  width: 4em;
}

.icon-prefix {
  font-size: 1.5em;
  margin-right: 0.5em;
  color: #5f5f5f;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  margin-bottom: 1em;
}
.loader {
  margin: 0 auto;
}
.visibility-icon {
  font-size: 2em;
}
