<section>
  <form novalidate [formGroup]="loginForm" (ngSubmit)="onLogin()"class="ts-login-form">
    <p>
      <mat-form-field class="ts-login-form-field">
        <mat-label>Email</mat-label>
        <mat-icon matPrefix class="icon-prefix">person</mat-icon>
        <input
          matInput
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          placeholder="Votre email"
          autocorrect="off"
          (input)="onTyping()"
        />
        <mat-error *ngIf="loginForm?.get('email')?.hasError('required')">
          L'email est requis
        </mat-error>
        <mat-error *ngIf="loginForm?.get('email')?.hasError('email')">
          Veuillez saisir un email valide
        </mat-error>
        <mat-error *ngIf="loginForm?.get('email')?.hasError('invalid-credentials')">
          Identifiants incorrects
        </mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="ts-login-form-field">
        <mat-label>Password</mat-label>
        <mat-icon matPrefix class="icon-prefix">password</mat-icon>
        <input
          matInput
          id="password"
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          class="form-control"
          placeholder="Votre mot de passe"
          autocorrect="off"
          (input)="onTyping()"
        />
        <button type='button' mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon class="visibility-icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm?.get('password')?.hasError('required')">
          Le mot de passe est requis
        </mat-error>
      </mat-form-field>
    </p>

    <div  class="loader-wrapper">
      <mat-spinner *ngIf="loading" diameter=20 class="loader"></mat-spinner>
    </div>

    <div class="ts-login-btn-row">
      <button mat-raised-button color="primary" class="ts-login-btn" mat-button color="primary" [disabled]="!loginForm?.valid || loading">
        Se connecter
      </button>
    </div>

  </form>
</section>

