<div fxLayout="row" fxLayoutAlign="center center" class="login-page-container">
  <div fxFlex="100%" fxFlex.gt-xs="75%" fxFlex.gt-sm="50%" fxFlex.gt-md="33%">
    <mat-card class="login-card">
      <mat-card-content>
        <h2 class="card-title">Connexion</h2>
        <ts-login-form [loading]="loading" (login)="login($event)"></ts-login-form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
