<div class="mat-elevation-z8 table-container">

  <ts-issues-list [displayedColumns]="displayedColumns" [issues]="issues" [loading]="loading"
    [currentUser]="currentUser" (refFilterChanged)="refFilterChanged($event)"
    (titleFilterChanged)="titleFilterChanged($event)" (contentFilterChanged)="contentFilterChanged($event)"
    (creatorFilterChanged)="creatorFilterChanged($event)" (show)="navigateToShow($event)"
    (update)="navigateToUpdate($event)"></ts-issues-list>
</div>
