<div class="filters-container">

  <div fxLayout="row wrap" fxLayoutGap="30px grid">

    <div fxFlex="100%" fxFlex.gt-xs="75%" fxFlex.gt-sm="50%" fxFlex.gt-md="25%" fxFlex.gt-lg="25%">
      <!-- TODO : Implement filters -->
    </div>
  </div>
  <div style="position: relative;">
    <div class="loading-shade" *ngIf="loading" [@loadingAnimation]>
      <mat-spinner *ngIf="loading"></mat-spinner>
    </div>
    <table mat-table [dataSource]="users">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{ element.lastname }} {{ element.firstname }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
      </ng-container>

      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef>Rôle</th>
        <td mat-cell *matCellDef="let element">{{ element.role }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="header-action">Actions</th>
        <td mat-cell *matCellDef="let element" class="column-action">
          <button mat-icon-button aria-label="Voir" (click)="onShow(element.id)" matTooltip="Voir">
            <mat-icon>visibility</mat-icon>
          </button>

          <div class="manager-actions"
            *ngIf=" currentUser?.role === UserRole.ADMIN || currentUser?.role === UserRole.MANAGER">
            <button mat-icon-button aria-label="Modifier" (click)="onUpdate(element.id)" matTooltip="Modifier">
              <mat-icon>mode_edit</mat-icon>
            </button>

            <button mat-icon-button aria-label="Supprimer" (click)="onDelete(element)" matTooltip="Supprimer">
              <mat-icon>clear</mat-icon>
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          Aucun ticket trouvé
        </td>
      </tr>
    </table>
  </div>
