table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.column-action,
.header-action {
  text-align: center;
}

.column-action {
  color: #5f5f5f;
}

.manager-actions {
  display: inline-block;
}

.filters-container {
  padding: 1em 2em;
}

.filter-form-field {
  margin: 0.25em 0;
}

.icon-prefix {
  font-size: 1.5em;
  margin-right: 0.5em;
  color: #5f5f5f;
}

.loading-shade {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.05);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
